extends layout

block layout-content
  div.View
    h1.Banner UniSystem
    div.Message
      div.Title
        h1 Welcome, #{userType}!
      br
      form(method="post")
        button Logout 
      
      
