extends layout

block layout-content
  div.View
    h1.Banner UniSystem
    div.Message
      div.Title
        h1 Welcome, #{userType}!
      br
      form(method="post")
        button#logoutButton Logout
        button#loginButton Login 
  
  script(type="text/javascript").
    const logout = document.getElementById('logoutButton');
    const login = document.getElementById('loginButton');
    const isLoggedIn = #{loggedIn};
    if (isLoggedIn) {
      logout.style.display = 'inline';
      login.style.display = 'none';
    } else {
      logout.style.display = 'none';
      login.style.display = 'inline';
    };
      
      
